<article>
    <img src="{{image}}">
    <div id="post">
    <p>{{classType}} - {{classLevel}} with {{classInstructor}}</p>
    <p>{{classDuration}} MIN</p>
    <form action="/class" method="post">
    <input type="hidden" name="classTypeToAdd" value="{{classType}}">
    <input type="hidden" name="classLevelToAdd" value="{{classLevel}}">
    <input type="hidden" name="classInstructorToAdd" value="{{classInstructor}}">
    <input type="hidden" name="classDurationToAdd" value="{{classDuration}}">
    <button>Book Now</button>
    </div>
    </form>
</article>