<form id="cart" action="/pay" method="post">
<label for="">Customer Details</label><br></br>
<input type="text" placeholder="Enter your name here"> <br></br>
<input type="email" value="{{user.userName}}" placeholder="Enter you email here"><br></br>
{{#if user.member}}
<p>&bigstar;Verified Member</p>
{{/if}}
<p>Your Classes</p><br>
{{#each cart}}
<div class="select">
<p>{{classType}} - {{classLevel}} with {{classInstructor}}</p><br>
<p>{{classDuration}} MIN</p><br>
<button name="buttonFunc" value="{{_id}}">Remove</button><br>
</div>
{{/each}}
<p>{{error}}</p>
<p>Subtotal: {{payments.subTotal}}</p><br>
<p>Tax: {{payments.tax}}</p><br>
<p>Total: {{payments.total}}</p><br></br>
<button class="pay" name="buttonFunc" value="proceed">Pay</button>
</form>